<!DOCTYPE html>
<html>
  <head>
    <base href="/people">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rabiya's Spotify App</title>
    <!-- IMPORT IN FAVICON -->
    <link rel='shortcut icon' href='	https://s3.amazonaws.com/spotify-code/favicon.ico' type='image/x-icon'/>
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
    <style>
    body {
      text-align: center;
    }
    .title {
font-family: 'Covered By Your Grace', cursive;
font-variant: small-caps;
font-size: 40px;
    }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>

</html>
